body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(50, 73, 82), rgb(20, 48, 65));
  /* background-image: url('https://images.unsplash.com/photo-1528746966523-1fc12935916e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60'); */
}
